@model Team_4_Project.Models.AppUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
            {
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MiddleInitial" class="control-label"></label>
                    <input asp-for="MiddleInitial" class="form-control" />
                    <span asp-validation-for="MiddleInitial" class="text-danger"></span>
                </div>
            }
                <div class="form-group">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CityAddress" class="control-label"></label>
                    <input asp-for="CityAddress" class="form-control" />
                    <span asp-validation-for="CityAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StateAddress" class="control-label"></label>
                    <input asp-for="StateAddress" class="form-control" />
                    <span asp-validation-for="StateAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ZipCodeAddress" class="control-label"></label>
                    <input asp-for="ZipCodeAddress" class="form-control" />
                    <span asp-validation-for="ZipCodeAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>