@model Team_4_Project.Models.ViewModels.TransferViewModel
@using Team_4_Project.Models.ViewModels

@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer</h1>

<h4>Transfer between accounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransferConfirmed" onsubmit="return confirm('Confirm transaction?')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">From:</label>
                @Html.DropDownListFor(model => model.FromAccountID, (SelectList)ViewBag.GetTransferAccounts, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">To:</label>
                @Html.DropDownListFor(model => model.ToAccountID, (SelectList)ViewBag.GetTransferAccounts, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Transfer Amount:</label>
                <input asp-for="TransferAmount" class="form-control" />
                <span asp-validation-for="TransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDate" class="control-label"></label>
                <input asp-for="TransferDate" class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {    <div class="form-group">
                    <label asp-for="TransferComments" class="control-label"></label>
                    <input asp-for="TransferComments" class="form-control" />
                    <span asp-validation-for="TransferComments" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>