@model Team_4_Project.Models.StockPortion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sell Stock</h4>
<hr />
<font color="red">@ViewBag.ErrorMessage</font>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StockPortionID" />
            <input type="hidden" asp-for="Stock.StockID" />
            <div class="form-group">
                <label asp-for="ShareNumber" class="control-label"></label>
                <input asp-for="ShareNumber" class="form-control" />
                <span asp-validation-for="ShareNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sell" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


