@{
    Layout = "_Layout";
}

<div>
    <h4>Bill Payment is confirmed.</h4>
</div>

<div>
    <a asp-action="Index" asp-controller="Transaction" class="btn btn-secondary">Return to Transactions</a>
</div>
